POSTGRES_PASSWORD=opsdesk
JWT_SECRET_KEY=OpsDeskDevelopmentSecretKey!2026-ChangeMe
KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=change-me
OPSDESK_SSO_CLIENT_SECRET=change-me
KEYCLOAK_DEMO_USER_PASSWORD=change-me
